@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");

$enable-responsive-font-sizes: true !important;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  flex: 1 0 auto;
}

*::selection {
  background-color: #c81e17;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: 700;
}

p {
  font-family: $font-stack;
  line-height: 2;
  font-size: 1.2rem;
}

a {
  font-family: $font-stack;
  color: $primary;
}

.underline {
  background-image: linear-gradient($primary, $primary);
  background-repeat: no-repeat;
  background-size: 100% 0.15em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
  }
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 800ms ease-in-out 1s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}