@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");

$enable-responsive-font-sizes: true !important;

html,
body {
  height: 100%;
}

.site {
  height: auto;
  min-height: 100%;
}

.content {
  padding-bottom: 50px;
}

*::selection {
  background-color: #c81e17;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading;
  font-weight: 700;
}

p {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  line-height: 2;
  font-size: 1.2rem;
}

a {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #e73a33;
}

.underline {
  background-image: linear-gradient(#e73a33, #e73a33);
  background-repeat: no-repeat;
  background-size: 100% 0.15em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
  }
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer {
  background-color: #eee;
  height: 50px;
  padding: 0px 16px;
}

.brand {
  font-family: $heading;
  font-weight: 700;
}

.heading-link {
  color: #000;

  &:hover {
    color: #000;
  }
}

p.subheader {
  font-family: $subheading, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

.slider {
  height: 450px;
  background-image: url("../img/GfH_Header.jpg");
  background-position: 50% 45%;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0) 60%);
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 800ms ease-in-out 1s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div.card-header {
  font-family: $heading;
  font-size: 1.2rem;
}

div.card-body {
  font-family: $heading;
  font-size: 1.2rem;
}